body{
    background-color: greenyellow;
}
#score{
    font-size: 35px;
    margin-left: 20px;
}
#time{
    font-size: 35px;
    margin-left: 20px;
    float: right;
}
#sketch_name{
    color: red;
}